@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS Variables */
:root {
  --Primary-background: #0b0510;
  --Primary-text: #f5fefd;
  --Secondary-color: #e1ebee;
  --Complimentary-color: #6495ed;
}

html,
body {
  background-color: var(--Primary-background);
  color: var(--Primary-text);
  font-family: "Google Sans Code", monospace;
  scroll-behavior: smooth;
}

@keyframes fadeIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
